*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    @media only screen and (max-width: 900px) {
        font-size: 50%;
    }
}

.container {
    display: flex;
    height: 100vh;
    font-size: 10rem;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 900px) {
        font-size: 5rem;
    }
}